*{
  padding: 0;
  margin:0;
}
body{
  font-family: Arial;
  line-height: 1.5; 
  background: #0e0e0e;  
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  position: relative;
}
.main-content{
  margin: 100px auto;
  max-width: 600px;
  border: 20px solid #6b2e0e;
  min-height: 430px;
  background-color: #137055;
  box-shadow: inset 0px 0px 5px 5px #3a3a3a;
  padding: 10px 30px;
}
.options{
  margin-left: 20px;
}
.main-content .buttons{
  margin-top: 25px;
  text-align: center;
  display: flex;
}
.color-fff{
  color: #fff;
  margin:15px 0px;
}
.bottom-actions{
  margin-top: 20px;
  display: flex;
}
.btn-action{
  flex: 1;
  padding: 8px 10px;
  font-size: 14px;
}
.errormsg{
  text-align: center;
  margin: 30px 0px;
}
.active{
  background-color: #bd4931 !important;
  color: white !important;
  outline: none;
}

.text-center{
  text-align: center;
}
.martop-40{
  margin-top: 100px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    flex: 1;
}
.button {
    background-color: #fff; 
    color: black; 
    border: 2px solid #13ad80;
}
.button:hover {
    background-color: #13ad80;
    color: white;
}
@media screen and (max-width: 480px) {
    .main-content{
      padding: 10px;
    }
}